<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://erikitofunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ea3995fa-7d1d-41ce-b1b6-b13b61e085b6/resourceGroups/erikitofunctions/providers/Microsoft.Web/sites/erikitofunctions</ResourceId>
    <UserName>$erikitofunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://erikitofunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>